<canvas id="WebGL-Output"></canvas>
<!--<div class="light-position-settings">-->
<!--  <div class="flex-display">-->
<!--    <button class="small-button" (click)="lightFurther()">•</button>-->
<!--    <button class="small-button" (click)="lightUp()">↑</button>-->
<!--    <button class="small-button" (click)="lightNearer()">●</button>-->
<!--  </div>-->
<!--  <div class="flex-display">-->
<!--    <button class="small-button" (click)="lightCircleLeft()">←</button>-->
<!--    <button class="small-button" (click)="lightDown()">↓</button>-->
<!--    <button class="small-button" (click)="rightCircleLeft()">→</button>-->
<!--  </div>-->
<!--  <div class="flex-display">-->
<!--    <span class="centered white-text">LIGHT</span>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="camera-view-settings">-->
<!--  <div class="flex-display">-->
<!--    <button class="basic-button" (click)="switchCameraOnAxes()">ground</button>-->
<!--    <button class="basic-button" (click)="switchCameraOnObject()">object</button>-->
<!--  </div>-->
<!--  <div class="flex-display">-->
<!--    <span class="centered white-text">CAMERA</span>-->
<!--  </div>-->
<!--</div>-->
